{% extends 'layout.html' %}


{% block content %}

{% load static %}
<form action="{% url 'logcode' %}" method="post">
    {% csrf_token %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 border p-5 mt-5 mb-5 shadow">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="{% static 'img/bsa_logo.png' %}" alt="" height="180px">
     
            </div>
            <div class="col-sm-12 mt-3">
                <p>Select Your Usertype</p>
                <select name="usertype" id="" class="form-control rounded-0">
                    <option value="">Select Your Usertype</option>
                    <option value="student">Student</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="col-sm-12 mt-3">
                <p>Enter your Username</p>
                <input type="text" name="userid" class="form-control rounded-0 border-dark">
            </div>
            <div class="col-sm-12 mt-3">
                <p>Enter your Password</p>
                <input type="text" name="password" class="form-control rounded-0 border-dark">
            </div>
            <div class="col-sm-12 mt-5">
               <input type="submit" class="form-control rounded-0" style="background-color: darkred; color:white"> 
            </div>
 
 
        </div>
    
</div>
</div>
<div class="col-sm-3"></div>

</div>
</form>
{% endblock %}