{% extends 'layout.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
<div class="row">
    <div class="col-sm-12" style="margin-left: 120px;">
        <h4 style="color: lightblue;">FEATURES</h4>
        <h2 style="margin-top: -10px" class="fw-bold">STUDENT <span style="color: darkred;">SERVICES</span></h2>
    </div>
</div>

<div class="row mt-5 p-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 border border-dark-light" style="height: 250px; width:600px">
        <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'img/login.png' %}" alt=""  width="90px" height="90px" class="mt-3">


        </div>
        <div class="col-sm-10">
            <h4 style="color:red;" class="mt-3">Login</h4>
            <p style="font-size:18px">Make your way into the portal through the login page where different users are provided with a username and password to gain access to theuniversity’s programs and other learning related materials</p>

        </div>
        
    </div>
    </div>
    <div class="col-sm-5 p-3 border border-dark-light" style="height: 250px; width:600px; margin-left: 40px;">
        <div class="row">
        <div class="col-sm-2">
            <img src="{% static 'img/dashboard.png' %}" alt=""  width="90px" height="90px">


        </div>
        <div class="col-sm-10">
            <h4 style="color:red;" >Dashboard</h4>
            <p style="font-size:18px">The AI-based dashboard will serve as an administrative home page to access key Information about Course Details, Assignments, Quizzes/MCQs, Self-Learning Materials, Course Catalogue, Progress Report, Notifications and other useful tabs. There is a provision for Help to guide ad navigate through the portal.</p>
        </div>
        
    </div>
    </div>
    <div class="row mt-2 p-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 border border-dark-light" style="height: 250px; width:600px">
            <div class="row">
            <div class="col-sm-2">
                <img src="{% static 'img/login.png' %}" alt=""  width="90px" height="90px" class="mt-3">
    
    
            </div>
            <div class="col-sm-10">
                <h4 style="color:red;" class="mt-3">Login</h4>
                <p style="font-size:18px">The students enrolled in the university have a wide range of courses available online covering different subjects. These courses include videos, images, word/PDF files,external links, assignments and quizzes for their study material.</p>
    
            </div>
            
        </div>
        </div>
        <div class="col-sm-5 p-3 border border-dark-light" style="height: 250px; width:600px; margin-left: 40px;">
            <div class="row">
            <div class="col-sm-2">
                <img src="{% static 'img/dashboard.png' %}" alt=""  width="90px" height="90px">
    
    
            </div>
            <div class="col-sm-10">
                <h4 style="color:red;" >Dashboard</h4>
                <p style="font-size:18px">The E-Books will give a digital access to the self- learning material that are course related e-Contents, presentations, PDF or Word file notes, videos and external links and self-assessment materials for the students like assignments and quizzes on a single platform.</p>
            </div>
            
        </div>
        </div>
        <div class="row mt-2 p-3">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 border border-dark-light" style="height: 250px; width:600px">
                <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'img/login.png' %}" alt=""  width="90px" height="90px" class="mt-3">
        
        
                </div>
                <div class="col-sm-10">
                    <h4 style="color:red;" class="mt-3">Login</h4>
                    <p style="font-size:18px">Self-Assessment allows the student to analyse and evaluate their academic performance through various Self-Assessment tools like e-Contents, Videos, assignments, quizzes/MCQs, external links and others. The self-assessment also enables testing the progress and learn better.</p>
        
                </div>
                
            </div>
            </div>
            <div class="col-sm-5 p-3 border border-dark-light" style="height: 250px; width:600px; margin-left: 40px;">
                <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'img/dashboard.png' %}" alt=""  width="90px" height="90px">
        
        
                </div>
                <div class="col-sm-10">
                    <h4 style="color:red;" >Dashboard</h4>
                    <p style="font-size:18px">The enrolled students will have courses ranging from certificate to degree course. The progress reports of these courses can be monitored by the students on their portal and give the student an in-depth analysis of the progress.</p>
                </div>
                
            </div>
            </div>
            <div class="row mt-2 p-3" style="margin-top:-50px">
                <div class="col-sm-1"></div>
                <div class="col-sm-5 border border-dark-light" style="height: 250px; width:600px">
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'img/login.png' %}" alt=""  width="90px" height="90px" class="mt-3">
            
            
                    </div>
                    <div class="col-sm-10">
                        <h4 style="color:red;" class="mt-3">Login</h4>
                        <p style="font-size:18px">Constructive feedback from students is a valuable resource for improving the learning process. The portal allows the students to provide feedback to address aspects of the course and self-learning material.</p>
            
                    </div>
                    
                </div>
                </div>
                <div class="col-sm-5 p-3 border border-dark-light" style="height: 250px; width:600px; margin-left: 34px;">
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'img/dashboard.png' %}" alt=""  width="90px" height="90px">
            
            
                    </div>
                    <div class="col-sm-10">
                        <h4 style="color:red;" >Dashboard</h4>
                        <p style="font-size:18px">The course catalogue is a document that lists the courses available in the university with a complete and brief description of each course. This course catalogue also provides a description that includes important details of the course like credits, course durations, modules, prerequisites and more.</p>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

            
        
            




{% endblock %}