{% extends 'studentzone.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block student %}
    <div class="container-fluid">
    <div class="row shadow bg-light m-4">
        <div class="col-sm-4 text-center" style="height: 315px;">
            <img src="{% static 'img/pageimg.jpeg' %}" alt="" style="height: 250px; width: 270px" class="rounded-circle mt-4">
        </div>
        <div class="col-sm-8 p-5">
           <table class="table">
            <tr>
                <th>Name</th>
                <th>Program</th>
                <th>Branch</th>
            </tr>
            <tr>
                <td>{{show.name}}</td>
                <td>{{show.program}}</td>
                <td>{{show.branch}}</td>
            </tr>
            <tr>
                <th>Year</th>
                <th>Subject</th>
                <th>Feedback</th>
            </tr>
            <tr>
                <td>{{show.year}}</td>
                <td>{{show.subject}}</td>
                <td>{{show.feedback}}</td>
            </tr>

           </table>
           <div class="mb-0 text-end mt-3">
           <a href="{% url 'feedsave' %}"> <button class="btn" style="background-color: darkred; color:white">Update Profile</button></a>
           </div>

         
        </div>
    </div>
    <div class="row bg-light shadow m-4" style="height: 500px;">
        <div class="col-sm-12 p-3">
            <table class="table">
                <tr class="text-center">
                    <th>ID</th>
                    <td>{{show.id}}</td>
                </tr>
                <tr class="text-center">
                    <th>Name</th>
                    <td>{{show.name}}</td>
                </tr>
                <tr class="text-center">
                    <th>Program</th>
                    <td>{{show.program}}</td>
                </tr>
                <tr class="text-center">
                    <th>Branch</th>
                    <td>{{show.branch}}</td>
                </tr>
                <tr class="text-center">
                    <th>Year</th>
                    <td>{{show.year}}</td>
                </tr>
                <tr class="text-center">
                    <th>Subject</th>
                    <td>{{show.subject}}</td>
                </tr>
                <tr class="text-center">
                    <th>Feedback</th>
                    <td>{{show.feedback}}</td>
                </tr>
                <tr class="text-center">
                    <th>Branch</th>
                    <td>{{show.branch}}</td>
                </tr>
                <tr class="text-center">
                    <th>Year</th>
                    <td>{{show.year}}</td>
                </tr>
                <tr class="text-center">
                    <th>Contact NO.</th>
                    <td>{{show.contactno}}</td>
                </tr>
                <tr class="text-center">
                    <th>Email</th>
                    <td>{{show.email}}</td>
                </tr>
            </table>

        </div>

       </div>
     </div>

    {% endblock %}

</body>
</html>